-- Columnas recomendadas para Bitacora / historial y filtro Radar-MANUAL.
-- Ejecutar contra la base del gestor (ej. DB_Materiales_Industrial) en SQL Server Management Studio
-- o: sqlcmd -S SERVIDOR -d DB_Materiales_Industrial -E -i add_gestor_tareas_bitacora_columnas.sql

IF COL_LENGTH('dbo.Tbl_Gestor_Tareas', 'Fecha_Cierre') IS NULL
BEGIN
    ALTER TABLE dbo.Tbl_Gestor_Tareas ADD Fecha_Cierre DATETIME2(7) NULL;
END
GO

IF COL_LENGTH('dbo.Tbl_Gestor_Tareas', 'SourceType') IS NULL
BEGIN
    ALTER TABLE dbo.Tbl_Gestor_Tareas ADD SourceType NVARCHAR(50) NULL;
END
GO

-- Opcional: marcar misiones antiguas sin tipo (el cliente asume MANUAL si viene vacio).
-- UPDATE dbo.Tbl_Gestor_Tareas
-- SET SourceType = N'MANUAL'
-- WHERE SourceType IS NULL OR LTRIM(RTRIM(SourceType)) = N'';
